[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=AsistenciaRemota
Categories=Network;
Exec=/usr/local/bin/asistencia-remota.sh
Comment=Asistencia remota por medio de VNC
#Icon=/opt/firefox/icons/mozicon128.png
